.editorial {
    padding: 60px 0;
    min-height: 480px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.container::after {
    content: "";
    display: table;
    clear: both;
}
.editorial .container {
    text-align: center;
}
.editorial .container {
    width: 100%;
}
.editorial__image {
    max-height: 350px;
    max-width: 400px;
}
.editorial__text {
    max-width: 400px;
}
.editorial__headline{
    text-align: left;
    font-family: PayPalSansSmall-Regular,Helvetica Neue,Arial,sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: #4a4a4a;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

}
.editorial__paragraph{
    text-align: left;
    padding-top: 20px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding: 0 100px;
}
.sized-box{
    width: 100px;
}

@media only screen and (min-width: 752px){
    .editorial {
        padding: 40px 60px;
    }
}
@media (min-width: 1152px){
    .container {
        max-width: 1192px;
        margin: auto auto;
    }
}
@media (max-width: 1023px) {
    .row{
        flex-direction: column;
        padding: 0;
    }
    .c-uhfh>div:first-child .c-logo{
        position: relative !important;
        left: 0;
        margin: auto auto !important;

    }
    .sized-box{
        height: 30px;
    }
}

.theme-background-color-light {
    background-color: #f4f4f4;
    max-width: 1600px;
}

.fine-print {
    background: black;
    color: white;
    font-size: 0.8125rem;
    line-height: 1.2;
}
.even{
    -webkit-animation-name: imageAnimate;
    animation-name: imageAnimate;
    -webkit-animation-duration: 1400ms;
    animation-duration: 1400ms;
}

.odd {
    -webkit-animation-name: imageAnimateOdd;
    animation-name: imageAnimateOdd;
    -webkit-animation-duration: 1400ms;
    animation-duration: 1400ms;
}


@keyframes imageAnimate {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes imageAnimateOdd {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}


.fine-print .links {
    display: flex;
    margin-left: 43px;
}
.fine-print .links li {
    margin-left: 20px;
}
@media (max-width: 425px) {
    .editorial__text {

        padding-left:20px;
        padding-right: 20px;
    }
    .editorial__text .editorial__headline{
        font-size: 2rem;
    }
    .editorial__paragraph {
        font-size: 80%;
    }
}
@media (max-width: 475px) {
    .editorial__image {
        max-height: 300px;
        max-width: 350px;
    }
}
@media (max-width: 425px) {
    .editorial__image {
        max-height: 300px;
        max-width: 300px;
    }
}